h1 {
    color: white;
    font-size: 48px;
    letter-spacing: 2.5px;
    word-spacing: 6px;
}

h2 {
    color: white;
    font-size: 26px;
}

.button {
  background-color: white;
  height:50px;
  font-size: 16px;
  color: black;
  width:400px;
}

input {
    width: 70%;
    height: 50px;
    padding: 12px 20px;
    border: 2px dotted black;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;


}

.wrapper {
    text-align: center;
}

body {
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}
